version: '3.9'

services:
  db:
    image: postgres:15
    container_name: delux_db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: delux_backend
    command: python manage.py runserver 0.0.0.0:8888
    volumes:
      - ./backend:/app
    ports:
      - "8888:8888"
    depends_on:
      - db
    env_file:
      - .env

volumes:
  postgres_data:
