@import 'tailwindcss';

@theme {
  --color-neon-cyan: #00f3ff;
  --color-neon-purple: #b026ff;
  --color-neon-blue: #0070f3;
}

@layer base {
  body {
    background-color: #050505;
    color: #e5e5e5;
    font-family: 'Inter', system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  ::selection {
    background-color: rgba(0, 243, 255, 0.3);
    color: #fff;
  }
}
