@import 'tailwindcss';

@layer base {
  :root {
    --color-neon-green: #39ff14;
    --color-dark-green: #003300;
  }
}

@layer base {
  body {
    background-color: #050505;
    color: #e5e5e5;
    font-family: 'Inter', system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  ::selection {
    background-color: var(--color-neon-green);
    color: #000;
  }
}
